Welcome to Pentalog Symfony3 Skills Test


<ul>
    <li>
        <a href="{{ path('categories_index') }}">Manage categories</a>
    </li>
</ul>

<ul>
    <li>
        <a href="{{ path('products_index') }}">Manage Products</a>
    </li>
</ul>

<footer>
    <div class="container">
        © 2019. Powered by Vu Van Nhan
    </div>
</footer>
